@use '../../../theme/variables.scss' as *;

.toolbar-custom {
    --background: transparent;
    --min-height: 15vh;
    // --border-color: red;
    // --border-style: solid;
    // --border-width: 1px;
    --padding-top: .8rem;
    --padding-bottom: .8rem;
    --padding-start: .8rem;
    --padding-end: .8rem;
    @media screen and (min-width:576px) {
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 3rem;
        --padding-end: 3rem;
    }

    .col-custom-flex {
        display: flex;
        gap: 1rem;
        place-content: center;
    }

    .custom-item {
        background: rgba(189, 189, 255, 1);
        color: $color-quinary;
        border-radius: 50%;
        min-height: 2rem;
        font-size: 1rem;
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-content: center;
        font-weight: 700;
    }

    ion-button {
        --background: transparent;
        --color: white;
        text-transform: initial;
    }
}


.logo-poker {
    height: 2.5rem;

    @media screen and (min-width:576px) {
        height: 3.75rem;
    }
}