@use "../../../theme/variables.scss" as *;

.content {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    background: $color-background-main ;

    ion-toolbar {
        --background: transparent;
    }

    .container-form {
        height: 70%;
        width: 100%;
        display: grid;
        place-content: center;

        // Mas alto que ancho
        @media (orientation: portrait) {
            height: 70%;
        }

        // Mas ancho que alto
        @media (orientation: landscape) {
            height: 50%;
        }
    }

}

.logo-poker {
    height: 3.75rem;
}

ion-button {
    --background: white;
    --color: black;
}