@use '../../../theme/variables.scss' as *;

.table-poker {
    width: 100%;
    min-height: 50vh;
    padding: 3rem 4rem;
    background: transparent;
    position: relative;
    display: grid;
    place-content: center;

    .table-container {
        border-radius: 17.25rem;
        border: 2px solid $color-primary;
        box-shadow: 0 0 20px 0 rgba(189, 189, 255, 0.2) inset;
        box-shadow: 0 0 15px 0 $color-primary ;
        max-width: 32.5625rem;
        position: relative;

        &__cards-cotainer {
            border: 1px solid red;
            width: 100%;
            height: 100%;
            position: relative;
        }

        &__middle-border {
            border-radius: 17.25rem;
            position: absolute;
            width: 95%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 90%;
            border: 2px solid $color-primary ;
            box-shadow: 0 0 20px 0 rgba(189, 189, 255, 0.6) inset;
            box-shadow: 0 12px 24px 0 rgba(100, 41, 205, 0.6);
        }

        &__end-border {
            border-radius: 17.25rem;
            position: absolute;
            width: 95%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid $color-primary ;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
            background: rgba(31, 13, 63, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (orientation: portrait) {
    .table-poker {

        .table-container {
            min-height: 25rem;
            width: 16rem;

            &__middle-border {
                height: 90%;
                width: 90%;
            }

            &__end-border {
                height: 93%;
                width: 90%;
            }
        }

    }
}

@media (orientation: landscape) {
    .table-poker {

        .table-container {
            min-height: 17rem;
            width: 32.5625rem;
        }
    }
}

ion-button {
    background: $color-primary;
    border-radius: 3rem;
    --color: $color-white;
    text-transform: initial;
    border-color: $color-primary;
    --border-width: 0;
    font-weight: 600;
}

.card-cotainer {
    outline: .1px solid red;

    // position: absolute;
    &__score {
        width: 2.1875rem;
        height: 3.75rem;

        &--viewer {
            background: rgba(189, 189, 255, 1);
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: grid;
            place-content: center;
        }

        &--player {

            border-radius: 0.4375rem;
            opacity: 0px;
            border: 1px solid rgba(187, 101, 255, 1);
            background: transparent;
            box-shadow: 0px 0px 6px 0px rgba(189, 189, 255, 0.6) inset;
            box-shadow: 0px 5px 10px 0px rgba(100, 41, 205, 0.6);
        }
    }

    &--viewer {}
}