$primary-color : rgba(100, 41, 205, 1);

.table-poker {
    width: 100%;
    min-height: 50vh;
    padding: 3rem 4rem;
    background: transparent;
    position: relative;
    display: grid;
    place-content: center;

    div {
        border-radius: 276px;
    }

    >div {
        border: 2px solid $primary-color ;
        box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.2) inset;
        box-shadow: 0px 0px 15px 0px $primary-color ;

        max-width: 32.5625rem;
        position: relative;

        >div {
            position: absolute;
            width: 95%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 90%;

            border: 2px solid $primary-color ;
            box-shadow: 0px 0px 20px 0px rgba(189, 189, 255, 0.6) inset;
            box-shadow: 0px 12px 24px 0px rgba(100, 41, 205, 0.6);

            >div {
                position: absolute;
                width: 95%;
                height: 90%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid $primary-color ;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
                background: rgba(31, 13, 63, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}

@media (orientation: portrait) {
    .table-poker {

        >div {
            min-height: 25rem;
            width: 16rem;

            >div {
                height: 90%;
                width: 90%;

                >div {
                    height: 93%;
                    width: 90%;
                }
            }
        }

    }
}

@media (orientation: landscape) {
    .table-poker {

        >div {
            min-height: 17rem;
            width: 32.5625rem;

            >div {

                >div {}
            }
        }
    }
}

ion-button {
    --background: rgba(100, 41, 205, 1);
    --color: white;
    text-transform: initial;
    --border-color: rgba(100, 41, 205, 1);
    --border-width: 5px;
    font-weight: 600;
}